<a href="https://colab.research.google.com/github/carmsanchezs/CodigoFacilittoBootcamp/blob/main/Numpy_y_Pandas/Bootcamp_df_datos_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bootcamp - Código Facilito

---

## Ciencia de Datos
### Curso de Introducción al Análisis de Datos con Pandas

Usa Numpy y Pandas para encontrar la siguiente información

In [4]:
import pandas as pd

In [5]:
usuarios = pd.read_csv('https://gist.githubusercontent.com/eduardogpg/9a0e348884bf8b5e60db013a0429a59d/raw/3587f65f7914f6c7d02fb84489d34d2b16eb511a/users.csv',
                   index_col=0)
usuarios.head()

                 name  age  gender         country                        email
0    Mr Jerome Thomas   73    male   United States    jerome.thomas@example.com
1       Mr Gary Berry   70    male  United Kingdom       gary.berry@example.com
2     Mr Noham Dubois   40    male          France     noham.dubois@example.com
3   Mrs Naja Johansen   63  female         Denmark    naja.johansen@example.com
4  Mr Damien Marchand   61    male          France  damien.marchand@example.com

verificando si tenemos datos nulos y el tipo de dato de cada variable

In [6]:
usuarios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     200 non-null    object
 1   age      200 non-null    int64
 2   gender   200 non-null    object
 3   country  200 non-null    object
 4   email    200 non-null    object
dtypes: int64(1), object(4)
memory usage: 9.4+ KB

## Ejercicios de clase

### Obtener el nombre de todos los usuarios con edad mayor a 20

In [7]:
usuarios[usuarios.age > 40]['name']

0         Mr Jerome Thomas
1            Mr Gary Berry
3        Mrs Naja Johansen
4       Mr Damien Marchand
5         Mr Harri Althoff
              ...
191          Mr Noah Moore
193    Ms Delphine Ginnish
194    Madame Rosa Lefevre
195          Mr Raul Bravo
199        Mr Raff Valkema
Name: name, Length: 122, dtype: object

In [8]:
usuarios.query('age > 40')['name']

0         Mr Jerome Thomas
1            Mr Gary Berry
3        Mrs Naja Johansen
4       Mr Damien Marchand
5         Mr Harri Althoff
              ...
191          Mr Noah Moore
193    Ms Delphine Ginnish
194    Madame Rosa Lefevre
195          Mr Raul Bravo
199        Mr Raff Valkema
Name: name, Length: 122, dtype: object

### Obtener el nombre de todos los usuarios con una edad mayor a 40 y de sexo femenino

In [9]:
usuarios[(usuarios.age > 40) & (usuarios.gender == 'female')]['name']

3            Mrs Naja Johansen
9         Miss Emilia Laitinen
10         Ms Cathriona Hanson
11            Miss Maia Clarke
12           Ms Cathy Simmmons
                ...
181             Mrs Avery King
182            Mrs Soila Silva
190    Miss Margrietha Holster
193        Ms Delphine Ginnish
194        Madame Rosa Lefevre
Name: name, Length: 68, dtype: object

In [10]:
usuarios.query('age > 40 and gender == "female"')['name']

3            Mrs Naja Johansen
9         Miss Emilia Laitinen
10         Ms Cathriona Hanson
11            Miss Maia Clarke
12           Ms Cathy Simmmons
                ...
181             Mrs Avery King
182            Mrs Soila Silva
190    Miss Margrietha Holster
193        Ms Delphine Ginnish
194        Madame Rosa Lefevre
Name: name, Length: 68, dtype: object

### Obtener todos los usuarios cuyo correo no termine con @example.com

In [11]:
usuarios[~usuarios.email.str.endswith('@example.com')]

              name  age gender country                 email
151  Mr Thomas Lam   42   male  Canada  thomas.lam@gmail.com

In [12]:
#usuarios.query('~email.str.contains("@example.com")')

### Obtener el nombre y el correo electrónico de todos aquellos usuarios del país Germany, Finland o Canada.

In [13]:
usuarios[usuarios.country.isin(['Germany', 'Finland', 'Canada'])][['name', 'email']]

                       name                            email
5          Mr Harri Althoff        harri.althoff@example.com
7         Ms Britta Weinert       britta.weinert@example.com
9      Miss Emilia Laitinen      emilia.laitinen@example.com
20     Mr Vincenzo Rauscher    vincenzo.rauscher@example.com
21            Mr Louis Ross           louis.ross@example.com
31          Mr Toivo Kotila         toivo.kotila@example.com
36          Mr Anthony Wong         anthony.wong@example.com
38        Mrs Lotta Rintala        lotta.rintala@example.com
41         Miss Iida Ketola          iida.ketola@example.com
45        Ms Ilona Moilanen       ilona.moilanen@example.com
47         Miss Ellen Rinne          ellen.rinne@example.com
50           Mr Theo Miller          theo.miller@example.com
53          Ms Aino Lassila         aino.lassila@example.com
56       Ms Marcella Brosch      marcella.brosch@example.com
58       Miss Madison Ennis        madison.ennis@example.com
72           Ms Megan Brown          megan.brown@example.com
79   Ms Hanne Aschenbrenner  hanne.aschenbrenner@example.com
85       Mrs Luisa Weißmann      luisa.weissmann@example.com
87         Mr Joona Koskela        joona.koskela@example.com
88            Mrs Hilda Epp            hilda.epp@example.com
131          Mr Xavier Addy          xavier.addy@example.com
133      Miss Julia Ambrose        julia.ambrose@example.com
144        Ms Mareile Plate        mareile.plate@example.com
147         Mr Lauri Kotila         lauri.kotila@example.com
151           Mr Thomas Lam             thomas.lam@gmail.com
158   Mr Rafael Spangenberg   rafael.spangenberg@example.com
170           Mr Ryder Côté           ryder.cote@example.com
174       Ms Isla Koistinen       isla.koistinen@example.com
184      Mr Philip Bélanger      philip.belanger@example.com
193     Ms Delphine Ginnish     delphine.ginnish@example.com
196       Miss Maeva Fortin         maeva.fortin@example.com

In [14]:
usuarios.query("country in ('Germany', 'Finland', 'Canada')")[['name', 'email']]

                       name                            email
5          Mr Harri Althoff        harri.althoff@example.com
7         Ms Britta Weinert       britta.weinert@example.com
9      Miss Emilia Laitinen      emilia.laitinen@example.com
20     Mr Vincenzo Rauscher    vincenzo.rauscher@example.com
21            Mr Louis Ross           louis.ross@example.com
31          Mr Toivo Kotila         toivo.kotila@example.com
36          Mr Anthony Wong         anthony.wong@example.com
38        Mrs Lotta Rintala        lotta.rintala@example.com
41         Miss Iida Ketola          iida.ketola@example.com
45        Ms Ilona Moilanen       ilona.moilanen@example.com
47         Miss Ellen Rinne          ellen.rinne@example.com
50           Mr Theo Miller          theo.miller@example.com
53          Ms Aino Lassila         aino.lassila@example.com
56       Ms Marcella Brosch      marcella.brosch@example.com
58       Miss Madison Ennis        madison.ennis@example.com
72           Ms Megan Brown          megan.brown@example.com
79   Ms Hanne Aschenbrenner  hanne.aschenbrenner@example.com
85       Mrs Luisa Weißmann      luisa.weissmann@example.com
87         Mr Joona Koskela        joona.koskela@example.com
88            Mrs Hilda Epp            hilda.epp@example.com
131          Mr Xavier Addy          xavier.addy@example.com
133      Miss Julia Ambrose        julia.ambrose@example.com
144        Ms Mareile Plate        mareile.plate@example.com
147         Mr Lauri Kotila         lauri.kotila@example.com
151           Mr Thomas Lam             thomas.lam@gmail.com
158   Mr Rafael Spangenberg   rafael.spangenberg@example.com
170           Mr Ryder Côté           ryder.cote@example.com
174       Ms Isla Koistinen       isla.koistinen@example.com
184      Mr Philip Bélanger      philip.belanger@example.com
193     Ms Delphine Ginnish     delphine.ginnish@example.com
196       Miss Maeva Fortin         maeva.fortin@example.com

### Obtener el nombre y el correo electrónico de todos los usuarios de sexo femenino del país Germany.

In [15]:
usuarios[(usuarios.country == 'Germany') & (usuarios.gender == 'female')][['name', 'email']]

                       name                            email
7         Ms Britta Weinert       britta.weinert@example.com
56       Ms Marcella Brosch      marcella.brosch@example.com
79   Ms Hanne Aschenbrenner  hanne.aschenbrenner@example.com
85       Mrs Luisa Weißmann      luisa.weissmann@example.com
88            Mrs Hilda Epp            hilda.epp@example.com
144        Ms Mareile Plate        mareile.plate@example.com

### Obtener la cantidad de usuarios de sexo masculino de Canada.

In [16]:
usuarios_can_fem = usuarios[(usuarios.country == 'Canada') & (usuarios.gender == 'male')]
usuarios_can_fem

                   name  age gender country                        email
21        Mr Louis Ross   60   male  Canada       louis.ross@example.com
36      Mr Anthony Wong   42   male  Canada     anthony.wong@example.com
50       Mr Theo Miller   33   male  Canada      theo.miller@example.com
131      Mr Xavier Addy   30   male  Canada      xavier.addy@example.com
151       Mr Thomas Lam   42   male  Canada         thomas.lam@gmail.com
170       Mr Ryder Côté   25   male  Canada       ryder.cote@example.com
184  Mr Philip Bélanger   24   male  Canada  philip.belanger@example.com

In [17]:
usuarios.query('country == "Canada" and gender == "male"')

                   name  age gender country                        email
21        Mr Louis Ross   60   male  Canada       louis.ross@example.com
36      Mr Anthony Wong   42   male  Canada     anthony.wong@example.com
50       Mr Theo Miller   33   male  Canada      theo.miller@example.com
131      Mr Xavier Addy   30   male  Canada      xavier.addy@example.com
151       Mr Thomas Lam   42   male  Canada         thomas.lam@gmail.com
170       Mr Ryder Côté   25   male  Canada       ryder.cote@example.com
184  Mr Philip Bélanger   24   male  Canada  philip.belanger@example.com

### Mostrar en la consola la cantidad de hombre y mujeres.

In [18]:
usuarios.groupby('gender').count()

        name  age  country  email
gender
female   106  106      106    106
male      94   94       94     94

In [19]:
usuarios.groupby('gender').name.count()

gender
female    106
male       94
Name: name, dtype: int64

In [20]:
usuarios.gender.value_counts()

female    106
male       94
Name: gender, dtype: int64

In [21]:
usuarios.groupby('gender').agg(['count'])

        name   age country email
       count count   count count
gender
female   106   106     106   106
male      94    94      94    94

In [22]:
usuarios.groupby('gender').agg({'name':'count'})

        name
gender
female   106
male      94

### Mostrar en consola el país con más mujeres.

In [23]:
usuarios.groupby(['country','gender']).name.count().sort_values(ascending=False).head(1)

country  gender
Denmark  female    12
Name: name, dtype: int64

In [24]:
usuarios[usuarios.gender == 'female'].groupby('country').name.count().sort_values(ascending=False).head(1)

country
Denmark    12
Name: name, dtype: int64

### Obtener los 5 países con más usuarios.

In [25]:
usuarios.groupby('country').name.count().sort_values(ascending=False).head(5)

country
Ireland           16
Denmark           16
United Kingdom    15
Norway            14
New Zealand       14
Name: name, dtype: int64

## Ejercicios de Tarea

### Mostrar en consola el nombre de todos los usuarios que no poseen un correo electrónico

In [26]:
usuarios[usuarios.email.isnull()]['name']

Series([], Name: name, dtype: object)

### Listar el nombre y correo del usuario más jovén de Canadá

In [27]:
usuarios[usuarios.country=='Canada'].sort_values('age')[['name', 'email']].head(1)

                   name                        email
184  Mr Philip Bélanger  philip.belanger@example.com

### Listar el nombre y correo de los usuarios más jóvenes de Germany y Canadá

In [28]:
countries = ['Canada', 'Germany']
usuarios[usuarios.country.isin(countries)].sort_values('age')[['name', 'email', 'age', 'country']].head(5)

                     name                          email  age  country
88          Mrs Hilda Epp          hilda.epp@example.com   22  Germany
184    Mr Philip Bélanger    philip.belanger@example.com   24   Canada
20   Mr Vincenzo Rauscher  vincenzo.rauscher@example.com   25  Germany
170         Mr Ryder Côté         ryder.cote@example.com   25   Canada
72         Ms Megan Brown        megan.brown@example.com   26   Canada

In [38]:
def min_age(country):
  return usuarios[usuarios.country == country].age.min()

young_can_ger = usuarios[(usuarios.country == 'Canada') & (usuarios.age == min_age('Canada'))]
young_can_ger

                   name  age gender country                        email
184  Mr Philip Bélanger   24   male  Canada  philip.belanger@example.com

### Listar los 5 países con mayor cantidad de usuarios

In [30]:
usuarios.groupby('country').name.count().sort_values(ascending=False)[:5]

country
Ireland           16
Denmark           16
United Kingdom    15
Norway            14
New Zealand       14
Name: name, dtype: int64

### Obtener el país con más usuarios

In [31]:
usuarios.groupby('country').name.count().sort_values(ascending=False).head(1)

country
Ireland    16
Name: name, dtype: int64

### Obtener el país con más usuarios cuya edad sea mayor a 50

In [32]:
usuarios[usuarios.age > 50].groupby('country').name.count().sort_values(ascending=False).head(1)

country
Iran    10
Name: name, dtype: int64

### Obtener la suma total de todos los usuarios de Canadá Y Germany

In [33]:
usuarios[usuarios.country.isin(countries)].name.count()

21

### Mostrar en consola la cantidad de países en el dataset

In [34]:
len(usuarios.country.unique())

17

### Obtener el promedio de edad de cada uno de los países

In [35]:
usuarios.groupby('country').age.mean().sort_values(ascending=False)

country
Spain             56.615385
Iran              54.230769
United States     53.500000
Netherlands       51.833333
United Kingdom    51.466667
Australia         51.166667
Brazil            50.666667
New Zealand       49.071429
France            48.900000
Denmark           48.812500
Turkey            47.000000
Norway            46.071429
Switzerland       44.000000
Finland           42.200000
Ireland           42.000000
Germany           39.555556
Canada            38.583333
Name: age, dtype: float64

### Mostrar en consola el país con más hombres.

In [36]:
usuarios[usuarios.gender == 'male'].groupby('country').name.count().sort_values(ascending=False).head(1)

country
Ireland    10
Name: name, dtype: int64